<div class="table-responsive">
  <table class="table table-nonfluid">
    <thead class="table-dark">
      <tr>
        <th scope="col-auto">#</th>
        <th scope="col col-auto">Nombre</th>
        <th scope="col-auto">Tipo</th>
        <th scope="col">Regi&oacute;n</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="row-id" scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
</div>