<div class="container d-grid gap-3">
    <div></div>
    <div class="indie-flower-regular header text-shadow fw-bold flex-grow-1">El aroma mágico</div>
    <div class="seperator"></div>
    <img src="assets/images/aroma-magico.png" class="img-fluid" alt="Aroma mágico">
    <div class="seperator"></div>

    <app-listar-cafe></app-listar-cafe>
</div>

<div class="position-relative bottom-0 start-0 text-center w-100 p-4 bg-white" [innerText]="'Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico'"></div>
